openapi: 3.0.3

info:
  title: Lumina Bot API
  version: 3.0.0
  contact:
    name: Lumina Dev Team
    url: https://bot.luminasink.com
  description: |
    # Lumina Bot API

    REST API for the Lumina Bot dashboard, inventory/gacha system, Discord guild
    management, and the internal bot ↔ API bridge. Built on Node.js/Express,
    deployed to Vercel (production) and `localhost:3000` (dev).

    ---

    ## Authentication

    The API supports **two** authentication methods for user-facing routes:

    1. **Cookie `lumina_token` (preferred for browsers)**
       - `httpOnly`, `Secure` (prod), `SameSite=Lax`, max-age = 1 hour
       - Set by `POST /expapi/v1/login` and the OAuth2 callback
       - Sent automatically by the browser — **immune to XSS** (JavaScript cannot read it)

    2. **Header `Authorization: Bearer <jwt>` (legacy / non-browser)**
       - For CLI tools, scripts, integration tests, and any client that does not
         manage cookies
       - Same JWT, same 1h expiry

    JWT expiry: **1 hour**. There is no refresh-token rotation yet — clients must
    re-authenticate when the token expires.

    The session helper `verifyRequestAuth(req)` reads the cookie first, then
    falls back to the Bearer header. Either is accepted on every protected route.

    ---

    ## CSRF Protection

    State-changing routes (`POST`/`PUT`/`DELETE` with `csrfProtectionNeeded: true`)
    require the **double-submit cookie** pattern:

    1. Client calls `GET /expapi/v1/csrf-token` → server sets cookie `csrf_token`
       (non-httpOnly, so JS can read it) and returns `{ csrfToken }` in the body.
    2. For every state-changing request, the client must send:
       - the `csrf_token` cookie (automatic in browsers)
       - the same value in the `X-CSRF-Token` header
    3. The middleware compares the two using `crypto.timingSafeEqual`. If either
       is missing or they differ → `403 { error, code: 'CSRF_INVALID' }`.

    The cookie is `SameSite=Lax`, which already blocks cross-site POSTs; the
    double-submit is defense-in-depth. Tokens are 32 random bytes (base64url),
    rotated hourly.

    CSRF protection is enforced only when `NODE_ENV=production`. In dev the
    middleware is skipped.

    ---

    ## Internal Routes (Bot ↔ API)

    Routes under `/expapi/internal/*` are intended for the Discord bot only and
    require the `internal-key` header to match `INTERNAL_API_KEY` (constant-time
    compare). A few of these additionally require an `apiKey` query parameter
    matching `LUMINA_API_KEY` (legacy).

    Some internal routes are *intentionally public* (`fetchuserskins`,
    `fetchinventory`) because skins/inventory are publicly visible on the
    dashboard; they are protected by a per-IP rate limiter (120 req/min).

    ---

    ## Access Levels

    Account `accessType` maps to a numeric level used by admin routes:

    | Type             | Level |
    |------------------|-------|
    | user             | 0     |
    | vipUser          | 1     |
    | enterpriseUser   | 2     |
    | contentCreator   | 3     |
    | tester           | 4     |
    | support          | 5     |
    | moderator        | 6     |
    | admin            | 7     |
    | headadmin        | 8     |
    | developer        | 9     |
    | coowner          | 10    |
    | owner            | 11    |

    - `GET /expapi/v1/admin/users` requires level ≥ 5 (support+)
    - `PUT /expapi/v1/admin/users/:userId` requires level ≥ 5, with field
      whitelists escalating at 6/7/8
    - `GET /expapi/v1/admin/guilds`, `PUT /expapi/v1/admin/guilds/:guildId`,
      `GET /expapi/v1/admin/metrics`, `GET /expapi/v1/admin/logs`,
      `POST/DELETE /expapi/v1/admin/news` require level ≥ 7 (admin+)
    - Self-close-account is **blocked** for level ≥ 7 (admins must contact support)

    ---

    ## Observability

    Every request gets an `X-Request-Id` response header (UUIDv4) and is
    funnelled through `requestLogger` + `routeError`. Logs are queryable via
    `GET /expapi/v1/admin/logs` and aggregate metrics via
    `GET /expapi/v1/admin/metrics`.

    ---

    ## Rate Limiting

    - `loginLimiter`: 5 req/min per IP on login, OAuth2 start, set-password
    - `registerLimiter`: 3 req/hour per IP on `/register`
    - Public internal routes (`fetchuserskins`, `fetchinventory`): 120 req/min
    - All other routes: no global limiter (relies on Vercel edge + bot-side throttling)

servers:
  - url: https://api.bot.luminasink.com
    description: Production
  - url: http://localhost:3000
    description: Local development

tags:
  - name: Public
    description: Endpoints accessible without authentication (session, news, public profiles, base URL)
  - name: Auth
    description: Login, register, logout, CSRF token, token validation
  - name: User
    description: Authenticated user profile, settings, identity, password, account closure
  - name: OAuth2
    description: Discord OAuth2 login / register / link flows
  - name: Discord
    description: Discord-linked account info, guild lookup, unlink
  - name: Inventory
    description: User inventory, daily rewards, skin rolling (dashboard-side)
  - name: News
    description: Public news feed
  - name: Badges
    description: Badge system — redeem codes, view user badges
  - name: Admin
    description: Admin-only endpoints (users, guilds, badges, logs, metrics, news management)
  - name: Internal
    description: Bot ↔ API bridge endpoints (require `internal-key` header)

components:

  securitySchemes:

    cookieAuth:
      type: apiKey
      in: cookie
      name: lumina_token
      description: |
        httpOnly JWT cookie set by `POST /expapi/v1/login` or the OAuth2 callback.
        Preferred auth method for browsers (immune to XSS). Sent automatically by
        the browser; non-browser clients should use `bearerAuth` instead.

    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        `Authorization: Bearer <jwt>` — legacy/alternative auth for non-browser
        clients (CLI, scripts, integration tests). Same JWT, same 1h expiry as
        the cookie.

    internalKey:
      type: apiKey
      in: header
      name: internal-key
      description: |
        Required on `/expapi/internal/*` routes. Constant-time compared against
        `INTERNAL_API_KEY`. Only the Discord bot should possess this key.

    csrfToken:
      type: apiKey
      in: header
      name: X-CSRF-Token
      description: |
        Required on state-changing routes (`POST`/`PUT`/`DELETE`) that have
        `csrfProtectionNeeded: true`. The value must match the `csrf_token`
        cookie obtained from `GET /expapi/v1/csrf-token`.

    apiKeyQuery:
      type: apiKey
      in: query
      name: apiKey
      description: |
        Legacy query-string key required by a few internal routes
        (`fetchbot`, `updatebot`, `staff`). Constant-time compared against
        `LUMINA_API_KEY`.

  schemas:

    ErrorResponse:
      type: object
      required: [error, code]
      properties:
        error:
          type: string
          description: Human-readable message (PT-BR).
        code:
          type: string
          description: Stable machine-readable error code.
          example: INVALID_CREDENTIALS
        details:
          type: object
          additionalProperties: true
          description: Optional structured details (e.g. attemptsRemaining, lockedUntil).

    Badge:
      type: object
      description: A redeemable badge definition.
      properties:
        code:
          type: string
          description: Unique redemption code (uppercase).
          example: BETA2025
        name:
          type: string
          example: Beta Tester
        description:
          type: string
        imageUrl:
          type: string
          description: URL to the badge image.
        rarity:
          type: string
          enum: [common, rare, epic, legendary, mythic]
        highlightColor:
          type: string
          description: Hex color for UI highlight.
          example: '#8B5CF6'

    BadgeWithCount:
      allOf:
        - $ref: '#/components/schemas/Badge'
        - type: object
          properties:
            availableFrom:
              type: string
              format: date-time
            expiresAt:
              type: string
              format: date-time
              nullable: true
            maxRedemptions:
              type: integer
              description: 0 = unlimited.
            minAccessLevel:
              type: string
            active:
              type: boolean
            createdBy:
              type: string
            createdAt:
              type: string
              format: date-time
            redemptionCount:
              type: integer
              description: Number of users who have redeemed this badge.

    BadgeCreate:
      type: object
      required: [code, name]
      properties:
        code:
          type: string
          minLength: 3
          description: Unique redemption code (3+ chars, will be uppercased).
          example: BETA2025
        name:
          type: string
        description:
          type: string
        imageUrl:
          type: string
        rarity:
          type: string
          enum: [common, rare, epic, legendary, mythic]
          default: common
        highlightColor:
          type: string
          default: '#8B5CF6'
        availableFrom:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
          nullable: true
          description: null = never expires.
        maxRedemptions:
          type: integer
          default: 0
          description: 0 = unlimited.
        minAccessLevel:
          type: string
          default: user
          description: Minimum accessType required to redeem.

    UserBadge:
      type: object
      description: A badge redeemed by a user.
      properties:
        code:
          type: string
        name:
          type: string
        description:
          type: string
        imageUrl:
          type: string
        rarity:
          type: string
          enum: [common, rare, epic, legendary, mythic]
        highlightColor:
          type: string
        redeemedAt:
          type: string
          format: date-time
        redeemedVia:
          type: string
          enum: [dashboard, bot]

    User:
      type: object
      description: Authenticated user profile (returned by `/session` and `/user/profile`).
      properties:
        accountId:
          type: string
          description: Internal account UUID.
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        accessType:
          type: string
          description: |
            Account level key (see Access Levels table in the API description).
          enum: [user, vipUser, enterpriseUser, contentCreator, tester, support,
                 moderator, admin, headadmin, developer, coowner, owner]
          example: user
        emailVerified:
          type: boolean
        discordOauth2Id:
          type: string
          description: Discord user ID, if linked. Empty string otherwise.
        hasPassword:
          type: boolean
          description: false for OAuth2-only accounts (until they set a password).
        authProviders:
          type: array
          items:
            type: string
          description: List of linked provider names (e.g. `["discord"]`).
        id:
          type: string
          description: Alias of `discordOauth2Id` (legacy).
        avatar:
          type: string
          description: Discord avatar hash (legacy field).
        registrationDate:
          type: string
          format: date-time
          nullable: true
        lastLogin:
          type: string
          format: date-time
          nullable: true
        blocked:
          type: boolean
        banned:
          type: boolean
        emailNotifications:
          type: boolean
        discordNotifications:
          type: boolean
        botActivityAlerts:
          type: boolean
        publicProfile:
          type: boolean
        showOnlineStatus:
          type: boolean
        language:
          type: string
          enum: [pt-BR, en-US, es-ES]
        timezone:
          type: string
          enum: [America/Sao_Paulo, America/New_York, Europe/London, Asia/Tokyo]
        username:
          type: string
          description: Unique handle (4–16 chars, `[a-zA-Z0-9_]+`).
        displayName:
          type: string
          description: Display name (1–32 chars).
        usernameChangedAt:
          type: string
          format: date-time
          nullable: true
        displayNameChangedAt:
          type: string
          format: date-time
          nullable: true
        deletionRequestedAt:
          type: string
          format: date-time
          nullable: true
        deletionScheduledFor:
          type: string
          format: date-time
          nullable: true

    UserSettings:
      type: object
      description: Notification + localization settings returned by `/user/settings`.
      properties:
        emailNotifications:
          type: boolean
        discordNotifications:
          type: boolean
        botActivityAlerts:
          type: boolean
        publicProfile:
          type: boolean
        showOnlineStatus:
          type: boolean
        language:
          type: string
          enum: [pt-BR, en-US, es-ES]
        timezone:
          type: string
          enum: [America/Sao_Paulo, America/New_York, Europe/London, Asia/Tokyo]

    Account:
      type: object
      description: Admin-facing account summary (returned by `/admin/users`).
      properties:
        accountId:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        accessType:
          type: string
        emailVerified:
          type: boolean
        registrationDate:
          type: string
          format: date-time
        lastLogin:
          type: string
          format: date-time
          nullable: true
        blocked:
          type: boolean
        banned:
          type: boolean
        discordOauth2Id:
          type: string
          description: Only included if admin level ≥ 6.
        discordLinked:
          type: boolean
          description: Only included if admin level ≥ 6.
        emailNotifications:
          type: boolean
          description: Only included if admin level ≥ 7.
        discordNotifications:
          type: boolean
          description: Only included if admin level ≥ 7.
        botActivityAlerts:
          type: boolean
          description: Only included if admin level ≥ 7.

    Guild:
      type: object
      description: Discord guild managed by the bot.
      properties:
        guildId:
          type: string
          description: Discord guild ID (17–19 digits).
        guildReferenceName:
          type: string
        guildOwnerId:
          type: string
        memberCount:
          type: integer
        prefix:
          type: string
          default: l!
        guildLocale:
          type: string
          default: en-US
        memberWelcomeToggle:
          type: boolean
        memberDmToggle:
          type: boolean
        djEnabled:
          type: boolean
        persistentMute:
          type: boolean
        persistentWarns:
          type: boolean
        autoWarnPunishment:
          type: boolean
        canPunishStaff:
          type: boolean
        moderationChannelId:
          type: string
        memberJoinChannelId:
          type: string
        memberLeaveChannelId:
          type: string
        botInfoChannelId:
          type: string
        eventLogChannelId:
          type: string
        djRoleId:
          type: string
        muteRoleId:
          type: string
        banRoleId:
          type: string
        blockedChannels:
          type: array
          items:
            type: string
        warnsToMute:
          type: integer
        warnsToTimeOut:
          type: integer
        warnsToKick:
          type: integer
        warnsToBan:
          type: integer
        warnDuration:
          type: integer
        gachaMaxRolls:
          type: integer
        gachaGameMode:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    GuildAdminSummary:
      type: object
      description: Guild summary returned by `/admin/guilds`.
      properties:
        guildId:
          type: string
        guildName:
          type: string
        memberCount:
          type: integer
        botEnabled:
          type: boolean
        welcomeEnabled:
          type: boolean
        moderationEnabled:
          type: boolean
        musicEnabled:
          type: boolean
        addedDate:
          type: string
          format: date-time
        lastActivity:
          type: string
          format: date-time
        prefix:
          type: string
        language:
          type: string
        djEnabled:
          type: boolean
        memberDmToggle:
          type: boolean
        persistentMute:
          type: boolean
        autoWarnPunishment:
          type: boolean

    MyGuild:
      type: object
      description: Guild entry returned by `/my-guilds`.
      properties:
        id:
          type: string
          description: Discord guild ID.
        name:
          type: string
        icon:
          type: string
          nullable: true
        banner:
          type: string
          nullable: true
        hasBot:
          type: boolean
          description: Whether Lumina Bot is present in this guild.
        canManage:
          type: boolean
          description: |
            True if the user is owner OR has `ADMINISTRATOR` (0x8) OR
            `MANAGE_GUILD` (0x20) permissions.
        botConfig:
          type: object
          nullable: true
          description: Only present when `hasBot` is true.
          properties:
            prefix:
              type: string
            language:
              type: string
            welcomeEnabled:
              type: boolean
            moderationEnabled:
              type: boolean
            musicEnabled:
              type: boolean
            memberCount:
              type: integer

    DiscordGuild:
      type: object
      description: Discord guild shape returned by `/discord/guild/:guildId`.
      properties:
        id:
          type: string
        name:
          type: string
        icon:
          type: string
          nullable: true
        member_count:
          type: integer
          nullable: true
        approximate_member_count:
          type: integer
          nullable: true
        approximate_presence_count:
          type: integer
        owner_id:
          type: string
        features:
          type: array
          items:
            type: string
        verification_level:
          type: integer
        premium_tier:
          type: integer
        roles:
          type: array
          items:
            type: object
        system_channel_id:
          type: string
          nullable: true
        nsfw:
          type: boolean
        nsfw_level:
          type: integer
        preferred_locale:
          type: string
        mfa_level:
          type: integer
        max_members:
          type: integer
          nullable: true
        emojis:
          type: array
          items:
            type: object
        stickers:
          type: array
          items:
            type: object
        premium_progress_bar_enabled:
          type: boolean
        splash:
          type: string
          nullable: true
        banner:
          type: string
          nullable: true

    Inventory:
      type: object
      description: User gacha inventory.
      properties:
        userId:
          type: string
          description: Discord user ID.
        keys:
          type: integer
          description: Total keys available for rolling.
        masterWorkChests:
          type: integer
        hextechChests:
          type: integer
        dailyRewardStreak:
          type: integer
        nextDailyReward:
          type: string
          format: date-time
          nullable: true
        dailyRewardAvailable:
          type: boolean
          description: Computed by `/myinventory` — true if `nextDailyReward` is past or null.

    NewsPost:
      type: object
      description: News feed entry.
      properties:
        id:
          type: string
          description: MongoDB `_id` of the post.
        title:
          type: string
        body:
          type: string
          description: Full markdown body.
        excerpt:
          type: string
          nullable: true
        imageUrl:
          type: string
          nullable: true
        tag:
          type: string
          nullable: true
        pinned:
          type: boolean
        publishedAt:
          type: string
          format: date-time
        authorName:
          type: string

    LogEntry:
      type: object
      description: One record from `GET /admin/logs`.
      properties:
        _id:
          type: string
        timestamp:
          type: string
          format: date-time
        level:
          type: string
          enum: [info, warn, error, debug]
        type:
          type: string
          description: Logical category (e.g. `API`, `DB`, `COMMAND`, `OAUTH`).
        action:
          type: string
          description: Specific event name (e.g. `login.success`).
        message:
          type: string
        route:
          type: string
          nullable: true
        requestId:
          type: string
          nullable: true
        userEmail:
          type: string
          nullable: true
        durationMs:
          type: integer
          nullable: true
        extra:
          type: object
          additionalProperties: true

    Metrics:
      type: object
      description: Snapshot returned by `/admin/metrics`.
      properties:
        startedAt:
          type: string
          format: date-time
        routes:
          type: object
          additionalProperties:
            type: object
            properties:
              count:
                type: integer
              errorCount:
                type: integer
              statusCodes:
                type: object
                additionalProperties:
                  type: integer
              avgDurationMs:
                type: number
              p95DurationMs:
                type: number
        recentErrors:
          type: array
          items:
            $ref: '#/components/schemas/LogEntry'

    PublicProfile:
      type: object
      description: Public profile returned by `/public-profile/:identifier`.
      properties:
        accountId:
          type: string
        username:
          type: string
        displayName:
          type: string
        discordOauth2Id:
          type: string
        avatar:
          type: string
        publicProfile:
          type: boolean
          description: Whether the user opted-in to extended public info.
        registrationDate:
          type: string
          format: date-time
          description: Only present if `publicProfile` is true.
        accessType:
          type: string
          description: Only present if `publicProfile` is true.
        badges:
          type: array
          items:
            type: string
          description: Placeholder for future badges.
        inventoryStats:
          type: object
          nullable: true
          description: Placeholder for future inventory stats.

    Skin:
      type: object
      description: Skin rolled from a chest.
      properties:
        skinId:
          type: integer
        name:
          type: string
        championName:
          type: string
        rarity:
          type: string
        imageUrl:
          type: string
          nullable: true

    SessionResponse:
      type: object
      properties:
        authenticated:
          type: boolean
        user:
          $ref: '#/components/schemas/User'
          description: Present only when `authenticated` is true.
        reason:
          type: string
          enum: [ACCOUNT_BANNED, ACCOUNT_BLOCKED]
          description: Present when the session is rejected due to account state.

    LoginResponse:
      type: object
      properties:
        token:
          type: string
          description: JWT (1h expiry). Also set as the `lumina_token` cookie.
        hasPassword:
          type: boolean

    RegisterResponse:
      type: object
      properties:
        message:
          type: string
        username:
          type: string
        displayName:
          type: string

    PaginatedUsers:
      type: object
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/Account'
        pagination:
          type: object
          properties:
            page:
              type: integer
            limit:
              type: integer
            total:
              type: integer
            hasMore:
              type: boolean

    PaginatedGuilds:
      type: object
      properties:
        guilds:
          type: array
          items:
            $ref: '#/components/schemas/GuildAdminSummary'
        pagination:
          type: object
          properties:
            page:
              type: integer
            limit:
              type: integer
            total:
              type: integer
            hasMore:
              type: boolean

    Pagination:
      type: object
      properties:
        limit:
          type: integer
        offset:
          type: integer
        count:
          type: integer

    NewsListResponse:
      type: object
      properties:
        posts:
          type: array
          items:
            $ref: '#/components/schemas/NewsPost'
        pagination:
          $ref: '#/components/schemas/Pagination'

    DailyRewardResult:
      type: object
      properties:
        claimed:
          type: boolean
        keys:
          type: integer
          description: Keys awarded (when claimed).
        streak:
          type: integer
        nextDailyReward:
          type: string
          format: date-time

  responses:

    Unauthorized:
      description: Authentication missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: Token inválido ou expirado.
            code: INVALID_TOKEN

    Forbidden:
      description: Authenticated but not allowed (insufficient level, banned, CSRF mismatch, etc.).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            csrf:
              value:
                error: Sessão expirada, tente novamente.
                code: CSRF_INVALID
            permission:
              value:
                error: Permissão insuficiente.
                code: INSUFFICIENT_PERMISSION
            banned:
              value:
                error: Esta conta foi banida.
                code: ACCOUNT_BANNED

    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: Conta não encontrada.
            code: ACCOUNT_NOT_FOUND

    BadRequest:
      description: Malformed or missing input.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: Email e senha são obrigatórios.
            code: MISSING_FIELDS

    RateLimited:
      description: Too many requests.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: Você já resgatou sua diária. Tente novamente mais tarde.
            code: DAILY_ALREADY_CLAIMED

    ServerError:
      description: Unexpected server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: Erro interno do servidor.
            code: UNHANDLED_ERROR

paths:

  # ───────────────────────────────────────────────────────────────────────
  # PUBLIC / SYSTEM
  # ───────────────────────────────────────────────────────────────────────

  /expapi/v1/:
    get:
      tags: [Public]
      summary: Base URL health check
      description: Returns `Pong!` — used to verify the API is reachable.
      operationId: getBaseExpURL
      security: []
      responses:
        '200':
          description: API is alive.
          content:
            text/plain:
              schema:
                type: string
                example: Pong!

  /expapi/v1/csrf-token:
    get:
      tags: [Auth]
      summary: Issue a CSRF token
      description: |
        Generates (or reuses) a `csrf_token` cookie and returns the same value
        in the JSON body. The cookie is non-httpOnly so the SPA can read it and
        echo it back in the `X-CSRF-Token` header on state-changing requests.

        Tokens are 32 random bytes (base64url, 192 bits of entropy), rotated
        hourly. The cookie is `SameSite=Lax`.
      operationId: getCsrfToken
      security: []
      responses:
        '200':
          description: CSRF token issued.
          headers:
            Set-Cookie:
              description: |
                `csrf_token=<base64url>; Path=/; SameSite=Lax; Max-Age=3600`.
                In production also `Secure`.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  csrfToken:
                    type: string
              example:
                csrfToken: v3RyL0ngR4nd0mB4se64UrlStr1ng

  /expapi/v1/session:
    get:
      tags: [Auth]
      summary: Get current session
      description: |
        Returns the current session state based on the `lumina_token` cookie
        (preferred) or the `Authorization: Bearer` header (legacy).

        Always returns `200` — even when not authenticated — so the SPA can
        distinguish "logged out" from "request failed". The response body's
        `authenticated` field is the source of truth.

        If the account is banned/blocked, returns `{ authenticated: false, reason }`.
      operationId: getSession
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        '200':
          description: Session state resolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponse'
              examples:
                authenticated:
                  value:
                    authenticated: true
                    user:
                      accountId: 7d4f...
                      firstName: Maria
                      lastName: Silva
                      email: maria@example.com
                      accessType: user
                      emailVerified: true
                      username: maria_silva
                      displayName: Maria
                      hasPassword: true
                      language: pt-BR
                      timezone: America/Sao_Paulo
                anonymous:
                  value:
                    authenticated: false
                banned:
                  value:
                    authenticated: false
                    reason: ACCOUNT_BANNED

  /expapi/v1/validate-token:
    post:
      tags: [Auth]
      summary: Validate JWT
      description: |
        Lightweight token validation. Accepts cookie or Bearer header.
        Returns `{ valid: true, email }` on success, `401` otherwise.
      operationId: validateToken
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        '200':
          description: Token is valid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  email:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'

  /expapi/v1/validateAuth:
    get:
      tags: [Auth]
      summary: Validate auth (legacy)
      description: |
        Legacy route protected by `checkAuth` middleware (Bearer-only) and the
        login rate limiter. Returns `Valid credentials.` plain text on success.
      operationId: validateAuth
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Credentials are valid.
          content:
            text/plain:
              schema:
                type: string
                example: Valid credentials.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  # ───────────────────────────────────────────────────────────────────────
  # AUTH — LOGIN / REGISTER / LOGOUT
  # ───────────────────────────────────────────────────────────────────────

  /expapi/v1/login:
    post:
      tags: [Auth]
      summary: Login with email + password
      description: |
        Validates credentials, sets the `lumina_token` httpOnly cookie, and
        returns the JWT in the body for non-browser clients.

        - Rate-limited by `loginLimiter` (5 req/min per IP).
        - CSRF-protected (requires `X-CSRF-Token` header matching the cookie).
        - If the account has a scheduled deletion, logging in **cancels** it
          automatically.
        - Updates `lastLogin`, `lastLoginIp`, `lastLoginUserAgent` (best-effort,
          does not fail the login if this update errors).
      operationId: login
      security:
        - csrfToken: []
      parameters:
        - in: header
          name: X-CSRF-Token
          required: true
          schema:
            type: string
          description: Must match the `csrf_token` cookie.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                  minLength: 8
                  maxLength: 128
            example:
              email: maria@example.com
              password: Sup3rSecret!
      responses:
        '200':
          description: Login successful.
          headers:
            Set-Cookie:
              description: |
                `lumina_token=<jwt>; Path=/; HttpOnly; SameSite=Lax; Max-Age=3600`.
                In production also `Secure`.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
              example:
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                hasPassword: true
        '400':
          description: Missing fields or account is OAuth-only.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing:
                  value:
                    error: Email e senha são obrigatórios.
                    code: MISSING_FIELDS
                oauth_only:
                  value:
                    error: Esta conta usa login social. Entre com o botão "Continuar com Discord".
                    code: OAUTH_ONLY
        '401':
          description: Wrong email or password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Email ou senha incorretos.
                code: INVALID_CREDENTIALS
        '403':
          description: Account banned or blocked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                banned:
                  value:
                    error: Esta conta foi banida.
                    code: ACCOUNT_BANNED
                blocked:
                  value:
                    error: Esta conta está bloqueada.
                    code: ACCOUNT_BLOCKED
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'

  /expapi/v1/register:
    post:
      tags: [Auth]
      summary: Register a new account
      description: |
        Creates a new dashboard account with email/password and the supplied
        identity (username + optional displayName).

        **Validation rules:**
        - `email`, `password`, `firstName`, `lastName`, `username` are required.
        - `password`: 8–128 chars, must contain uppercase, lowercase, and digit.
        - `username`: 4–16 chars, `[a-zA-Z0-9_]+`, not on the reserved-word
          blacklist, must be unique (case-insensitive).
        - `displayName`: 1–32 chars (defaults to `firstName` if omitted).

        Rate-limited by `registerLimiter` (3 req/hour per IP). CSRF-protected.

        Returns a generic message on duplicate email (no enumeration).
      operationId: register
      security:
        - csrfToken: []
      parameters:
        - in: header
          name: X-CSRF-Token
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, firstName, lastName, username]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                  minLength: 8
                  maxLength: 128
                firstName:
                  type: string
                  maxLength: 60
                lastName:
                  type: string
                  maxLength: 60
                username:
                  type: string
                  pattern: '^[a-zA-Z0-9_]{4,16}$'
                displayName:
                  type: string
                  maxLength: 32
            example:
              email: maria@example.com
              password: Sup3rSecret!
              firstName: Maria
              lastName: Silva
              username: maria_silva
              displayName: Maria
      responses:
        '200':
          description: Account created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
              example:
                message: Conta criada com sucesso.
                username: maria_silva
                displayName: Maria
        '400':
          description: Validation failed (missing fields, weak password, invalid username/displayName).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing:
                  value:
                    error: Email, senha, nome e sobrenome são obrigatórios.
                    code: MISSING_FIELDS
                weak_password:
                  value:
                    error: A senha deve ter entre 8 e 128 caracteres.
                    code: WEAK_PASSWORD
                invalid_username:
                  value:
                    error: Username deve ter entre 4 e 16 caracteres, usando apenas letras, números e _.
                    code: INVALID_USERNAME
        '409':
          description: Username taken.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Este username já está em uso. Escolha outro.
                code: USERNAME_TAKEN
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'

  /expapi/v1/logout:
    get:
      tags: [Auth]
      summary: Logout
      description: |
        Clears the `lumina_token` cookie. CSRF-protected because it is a
        state-changing action performed via GET (the protection is applied
        to all routes flagged `csrfProtectionNeeded` in production).
      operationId: logout
      security:
        - csrfToken: []
      parameters:
        - in: header
          name: X-CSRF-Token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Logged out.
          headers:
            Set-Cookie:
              description: "`lumina_token=; Max-Age=0; Path=/`."
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
              example:
                ok: true

  # ───────────────────────────────────────────────────────────────────────
  # OAuth2
  # ───────────────────────────────────────────────────────────────────────

  /expapi/oauth2/{provider}/auth/start:
    get:
      tags: [OAuth2]
      summary: Start an OAuth2 flow
      description: |
        Initiates an OAuth2 flow with the given provider (`discord` currently
        supported). The `intent` query parameter selects the flow:

        - `login` (default) — log into an existing account, or create one
          automatically if the provider email is verified.
        - `register` — create a new account; redirect with `email_exists` if
          the email is already registered.
        - `link` — link this provider to an already-authenticated account.
          Requires either the `lumina_token` cookie or a `linkToken` query
          parameter (JWT) identifying the account to link to.

        The route issues a signed `state` JWT containing `origin`, `nonce`,
        `issuedAt`, `intent` (and `linkAccountId` if applicable), then
        redirects (302) to the provider's authorization URL.

        Rate-limited by `loginLimiter`.
      operationId: oauth2Start
      security: []
      parameters:
        - in: path
          name: provider
          required: true
          schema:
            type: string
            enum: [discord]
          description: OAuth2 provider name.
        - in: query
          name: intent
          required: false
          schema:
            type: string
            enum: [login, register, link]
            default: login
        - in: query
          name: origin
          required: false
          schema:
            type: string
            default: https://bot.luminasink.com
          description: Must be in the allowed-origins whitelist.
        - in: query
          name: linkToken
          required: false
          schema:
            type: string
          description: |
            Legacy: JWT identifying the account to link (only for `intent=link`
            when no cookie is present).
      responses:
        '302':
          description: Redirect to the provider's authorization URL.
          headers:
            Location:
              schema:
                type: string
        '400':
          description: Invalid origin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Origin não permitida.
                code: INVALID_ORIGIN
        '404':
          description: Unknown provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Provedor OAuth2 não suportado.
                code: UNKNOWN_PROVIDER
        '500':
          $ref: '#/components/responses/ServerError'

  /expapi/oauth2/{provider}/auth/callback:
    get:
      tags: [OAuth2]
      summary: OAuth2 callback
      description: |
        Handles the OAuth2 provider redirect-back. Verifies the `state` JWT
        (must be ≤ 10 minutes old, with an allowed origin), exchanges the
        `code` for tokens, fetches the provider profile, and then dispatches
        based on the intent stored in `state`:

        - **link** — links the provider to `state.linkAccountId`, sets the
          `lumina_token` cookie, redirects to `{origin}/oauth/complete#...&linkedDiscord=true`.
        - **register** — creates a new account (or redirects with `email_exists`);
          for new accounts, attempts to seed `username`/`displayName` from the
          Discord profile (validated for syntax + availability).
        - **login** (default) — looks up by provider ID; falls back to verified
          email and auto-links; otherwise creates a new account automatically.

        Always redirects (no JSON) on success — the SPA reads the result from
        the redirect hash: `#isNewAccount=...&hasPassword=...`.

        For new Discord accounts, sets `discordOauth2Id`, `discordOauth2Token`,
        `discordOauth2RefreshToken`, `discordOauth2TokenExpiresAt`,
        `discordOauth2TokenScope`, etc.
      operationId: oauth2Callback
      security: []
      parameters:
        - in: path
          name: provider
          required: true
          schema:
            type: string
            enum: [discord]
        - in: query
          name: code
          required: false
          schema:
            type: string
        - in: query
          name: state
          required: true
          schema:
            type: string
          description: Signed JWT produced by `/auth/start`.
        - in: query
          name: error
          required: false
          schema:
            type: string
          description: Provider-side error (e.g. `access_denied`).
      responses:
        '302':
          description: |
            Redirects to `{origin}/oauth/complete#isNewAccount=<bool>&hasPassword=<bool>`
            on success, or to `{origin}/login?oauthError=<code>` /
            `{origin}/register?oauthError=<code>` on failure.
          headers:
            Set-Cookie:
              description: |
                `lumina_token=<jwt>; HttpOnly; SameSite=Lax; Max-Age=3600` on success.
              schema:
                type: string
            Location:
              schema:
                type: string
        '400':
          description: Invalid or expired state.
          content:
            text/plain:
              schema:
                type: string
                example: Estado inválido ou expirado. Tente novamente.
        '404':
          description: Unknown provider (returned as plain text).
          content:
            text/plain:
              schema:
                type: string

  # ───────────────────────────────────────────────────────────────────────
  # USER
  # ───────────────────────────────────────────────────────────────────────

  /expapi/v1/user/profile:
    get:
      tags: [User]
      summary: Get authenticated user's full profile
      description: |
        Returns the full profile of the authenticated user. Includes identity
        (username/displayName + cooldown timestamps), notification settings,
        language/timezone, account state (banned/blocked), and account-closure
        scheduling info.

        Note: this route reads the Bearer header directly (does not consult the
        cookie) — browser clients should prefer `/session` which accepts both.
      operationId: getUserProfile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Profile retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /expapi/v1/user/settings:
    get:
      tags: [User]
      summary: Get user settings
      description: Returns notification and localization preferences only.
      operationId: getUserSettings
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Settings retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      tags: [User]
      summary: Update user settings
      description: |
        Updates notification toggles and localization preferences. Only the
        fields actually present in the body are written. `language` must be one
        of `[pt-BR, en-US, es-ES]`, `timezone` must be one of
        `[America/Sao_Paulo, America/New_York, Europe/London, Asia/Tokyo]`.

        CSRF-protected.
      operationId: updateUserSettings
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - in: header
          name: X-CSRF-Token
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSettings'
            example:
              emailNotifications: false
              publicProfile: true
              language: en-US
              timezone: America/New_York
      responses:
        '200':
          description: Settings updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              example:
                message: Configurações atualizadas com sucesso.
        '400':
          description: Invalid language or timezone.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Idioma inválido.
                code: INVALID_LANGUAGE
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /expapi/v1/user/identity:
    put:
      tags: [User]
      summary: Update username and/or displayName
      description: |
        Updates the user's public identity. Both fields are optional in the body
        — only the ones present are updated.

        **Cooldowns:**
        - `username` — 30 days between changes (only enforced if a username is
          already set).
        - `displayName` — 24 hours between changes (only enforced if a
          displayName is already set).

        **Validation:**
        - `username`: 4–16 chars, `[a-zA-Z0-9_]+`, not on the reserved-word
          blacklist, must be unique (case-insensitive).
        - `displayName`: 1–32 chars.

        CSRF-protected. Returns the updated identity and `warnings` array.
      operationId: updateUserIdentity
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - in: header
          name: X-CSRF-Token
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  pattern: '^[a-zA-Z0-9_]{4,16}$'
                displayName:
                  type: string
                  maxLength: 32
            example:
              username: new_handle
              displayName: New Display
      responses:
        '200':
          description: Identity updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    type: object
                    properties:
                      accountId:
                        type: string
                      username:
                        type: string
                      displayName:
                        type: string
                      usernameChangedAt:
                        type: string
                        format: date-time
                      displayNameChangedAt:
                        type: string
                        format: date-time
                  warnings:
                    type: array
                    items:
                      type: string
        '400':
          description: Invalid username/displayName or no fields provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid_username:
                  value:
                    error: Username deve ter entre 4 e 16 caracteres, usando apenas letras, números e _.
                    code: INVALID_USERNAME
                no_fields:
                  value:
                    error: Nenhum campo para atualizar. Envie username e/ou displayName.
                    code: NO_FIELDS
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Account banned or blocked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Conta banida.
                code: ACCOUNT_BANNED
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Username already taken.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Este username já está em uso.
                code: USERNAME_TAKEN
        '429':
          description: Cooldown active.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Você poderá alterar seu username novamente em 15/03/2025.
                code: USERNAME_COOLDOWN
                nextChangeAt: '2025-03-15T00:00:00.000Z'
                msRemaining: 86400000
        '500':
          $ref: '#/components/responses/ServerError'

  /expapi/v1/user/check-username:
    get:
      tags: [User]
      summary: Check username availability
      description: |
        Checks whether a username is available (valid syntax + not taken by
        another account, excluding the current user's own account). Requires
        authentication to prevent username enumeration by anonymous clients.

        Returns `available: false, reason: invalid` for syntax/blacklist
        failures (status 200), or `available: false, reason: taken` for
        duplicates (also 200).
      operationId: checkUsername
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: username
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Availability resolved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  available:
                    type: boolean
                  reason:
                    type: string
                    enum: [ok, taken, invalid]
                  message:
                    type: string
              examples:
                ok:
                  value:
                    available: true
                    reason: ok
                    message: Username disponível!
                taken:
                  value:
                    available: false
                    reason: taken
                    message: Este username já está em uso.
                invalid:
                  value:
                    available: false
                    reason: invalid
                    message: Username deve ter entre 4 e 16 caracteres, usando apenas letras, números e _.
        '400':
          description: Missing username query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Parâmetro username é obrigatório.
                code: MISSING_USERNAME
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'

  /expapi/v1/user/set-password:
    post:
      tags: [User]
      summary: Set or change password
      description: |
        Sets a new password for the authenticated user. Two flows:

        - **OAuth2-only account (no password yet)** — send only `{ newPassword }`.
        - **Account with existing password** — send `{ currentPassword, newPassword }`.

        Uses `jwtNeeded` middleware (Bearer token required). Login rate limiter
        applies. Locks the account for 15 minutes after 5 wrong
        `currentPassword` attempts.

        New password requirements: 8–128 chars, uppercase + lowercase + digit,
        must differ from current.
      operationId: setPassword
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - in: header
          name: X-CSRF-Token
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [newPassword]
              properties:
                currentPassword:
                  type: string
                  format: password
                  description: Required only when the account already has a password.
                newPassword:
                  type: string
                  format: password
                  minLength: 8
                  maxLength: 128
            example:
              currentPassword: OldPass123
              newPassword: NewPass456
      responses:
        '200':
          description: Password set.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              example:
                message: Senha definida com sucesso.
        '400':
          description: Missing new password, weak password, or wrong current password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing:
                  value:
                    error: Nova senha é obrigatória.
                    code: MISSING_FIELDS
                invalid_current:
                  value:
                    error: Senha atual incorreta. 2 tentativa(s) restante(s).
                    code: INVALID_CURRENT_PASSWORD
                    attemptsRemaining: 2
                weak:
                  value:
                    error: A senha deve ter entre 8 e 128 caracteres, com maiúscula, minúscula e número.
                    code: WEAK_PASSWORD
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          description: Account locked after too many failed attempts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Muitas tentativas incorretas. Tente novamente em 15 minutos.
                code: ACCOUNT_LOCKED
                lockedUntil: '2025-01-01T12:15:00.000Z'
        '500':
          $ref: '#/components/responses/ServerError'

  /expapi/v1/user/change-password:
    put:
      tags: [User]
      summary: Change password (DEPRECATED)
      description: |
        **Disabled** — returns `501 ROUTE_DISABLED`. Use
        `POST /expapi/v1/user/set-password` instead.
      operationId: changePasswordDeprecated
      security:
        - bearerAuth: []
        - csrfToken: []
      responses:
        '501':
          description: Route disabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Rota desativada. Use /expapi/v1/user/set-password para definir ou alterar a senha.
                code: ROUTE_DISABLED

  /expapi/v1/user/close-account:
    post:
      tags: [User]
      summary: Schedule account closure (30 days)
      description: |
        Schedules the account for deletion 30 days from now. The user's
        subsequent login (email/password or OAuth2) **cancels** the deletion
        automatically.

        **Blocked** for accounts with `accessType` level ≥ 7 (admins must
        contact support).

        Body must include `{ confirm: true }` to prevent accidental triggers.
        Optional `reason` string is logged.

        CSRF-protected.
      operationId: closeAccount
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - in: header
          name: X-CSRF-Token
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [confirm]
              properties:
                confirm:
                  type: boolean
                  description: Must be `true`.
                reason:
                  type: string
                  maxLength: 500
            example:
              confirm: true
              reason: No longer using the bot
      responses:
        '200':
          description: Closure scheduled.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  scheduledFor:
                    type: string
                    format: date-time
                  message:
                    type: string
        '400':
          description: Confirmation missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Confirmação necessária. Envie { confirm: true } no corpo da requisição."
                code: CONFIRMATION_REQUIRED
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Admin-level accounts cannot self-close.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Contas administrativas não podem ser fechadas via painel. Contate o suporte.
                code: ADMIN_CANNOT_CLOSE
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /expapi/v1/user/cancel-close-account:
    post:
      tags: [User]
      summary: Cancel scheduled account closure
      description: |
        Cancels a previously scheduled closure. Returns `400 NO_CLOSURE_SCHEDULED`
        if no closure is pending.

        CSRF-protected.
      operationId: cancelCloseAccount
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - in: header
          name: X-CSRF-Token
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: Closure cancelled.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  message:
                    type: string
        '400':
          description: No closure scheduled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Não há fechamento agendado para cancelar.
                code: NO_CLOSURE_SCHEDULED
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  # ───────────────────────────────────────────────────────────────────────
  # PUBLIC PROFILE + NEWS
  # ───────────────────────────────────────────────────────────────────────

  /expapi/v1/public-profile/{identifier}:
    get:
      tags: [Public]
      summary: Get public profile by identifier
      description: |
        Returns a public profile by one of:
        - Account UUID (`accountId`)
        - Discord user ID (`discordOauth2Id`)
        - Username (case-insensitive)

        Only fields explicitly marked public are exposed. If the user has
        `publicProfile: false`, only the minimum subset is returned
        (accountId, username, displayName, discordOauth2Id, avatar,
        publicProfile=false).
      operationId: getPublicProfile
      security: []
      parameters:
        - in: path
          name: identifier
          required: true
          schema:
            type: string
            minLength: 3
            maxLength: 64
      responses:
        '200':
          description: Profile retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicProfile'
        '400':
          description: Invalid identifier length.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Identificador inválido.
                code: INVALID_IDENTIFIER
        '404':
          description: User not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Usuário não encontrado.
                code: USER_NOT_FOUND
        '500':
          $ref: '#/components/responses/ServerError'

  /expapi/v1/news:
    get:
      tags: [News]
      summary: List published news posts
      description: |
        Public paginated feed of published news posts. Pagination via `limit`
        (1–100, default 20) and `offset` (default 0).
      operationId: getNews
      security: []
      parameters:
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - in: query
          name: offset
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: News feed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsListResponse'
        '500':
          $ref: '#/components/responses/ServerError'

  # ───────────────────────────────────────────────────────────────────────
  # INVENTORY + GACHA (DASHBOARD)
  # ───────────────────────────────────────────────────────────────────────

  /expapi/v1/myinventory:
    get:
      tags: [Inventory]
      summary: Get authenticated user's inventory
      description: |
        Returns the user's keys + chests and daily-reward status. Resolves the
        user's Discord account via the linked account email.

        If no inventory exists yet, one is created lazily.
      operationId: getMyInventory
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Inventory retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: integer
                  masterWorkChests:
                    type: integer
                  hextechChests:
                    type: integer
                  dailyRewardAvailable:
                    type: boolean
                  nextDailyReward:
                    type: string
                    format: date-time
                    nullable: true
                  dailyRewardStreak:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          description: Discord account not linked / resolvable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Conta Discord não vinculada.
                code: DISCORD_NOT_LINKED
        '500':
          $ref: '#/components/responses/ServerError'

  /expapi/v1/dailyreward:
    post:
      tags: [Inventory]
      summary: Claim daily reward (dashboard)
      description: |
        Claims the daily reward for the authenticated user. Returns
        `429 DAILY_ALREADY_CLAIMED` if already claimed today (with the next
        available time and current streak).

        CSRF-protected.
      operationId: claimDailyReward
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - in: header
          name: X-CSRF-Token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Reward claimed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailyRewardResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'

  /expapi/v1/rollskin:
    post:
      tags: [Inventory]
      summary: Roll a skin (dashboard)
      description: |
        Spends a key + chest of the given type and rolls a random skin. Returns
        the rolled skin object on success.

        CSRF-protected.
      operationId: rollSkinDashboard
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - in: header
          name: X-CSRF-Token
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [chestType]
              properties:
                chestType:
                  type: string
                  enum: [masterWorkChests, hextechChests]
            example:
              chestType: hextechChests
      responses:
        '200':
          description: Skin rolled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Skin'
        '400':
          description: Missing/invalid chestType or insufficient resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing:
                  value:
                    error: Parâmetro chestType é obrigatório.
                    code: MISSING_PARAMS
                invalid:
                  value:
                    error: Tipo de baú inválido.
                    code: INVALID_CHEST_TYPE
                insufficient:
                  value:
                    error: Sem chaves ou baús suficientes.
                    code: INSUFFICIENT_RESOURCES
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'

  # ───────────────────────────────────────────────────────────────────────
  # DISCORD
  # ───────────────────────────────────────────────────────────────────────

  /expapi/v1/discordinfo:
    get:
      tags: [Discord]
      summary: Get Discord user info
      description: |
        Returns the linked Discord account's public info (`avatar`, `username`,
        `id`) by calling Discord's `/users/@me` with the stored OAuth2 token.

        Refreshes the Discord OAuth2 token automatically if it has expired.
      operationId: getDiscordInfo
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Discord info retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  avatar:
                    type: string
                    description: Discord avatar hash (use CDN to build URL).
                  username:
                    type: string
                  id:
                    type: string
                    description: Discord user ID.
        '400':
          description: Discord not linked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Conta Discord não vinculada.
                code: DISCORD_NOT_LINKED
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /expapi/v1/unlink-discord:
    post:
      tags: [Discord]
      summary: Unlink Discord account
      description: |
        Removes the Discord OAuth2 link from the authenticated account. Clears
        `discordOauth2Id`, `discordOauth2Token`, `discordOauth2RefreshToken`,
        `discordOauth2TokenExpiresAt`, `discordOauth2TokenScope`,
        `discordOauth2TokenType`, `discordOauth2TokenRequestDate`,
        `discordOauth2TokenRequestIp`, and unsets `authProviders.discord`.

        CSRF-protected. Also flagged `checkAuthNeeded` (Bearer required by the
        `checkAuth` middleware in addition to the inline JWT verify).
      operationId: unlinkDiscord
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - in: header
          name: X-CSRF-Token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Discord unlinked.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  success:
                    type: boolean
        '400':
          description: Discord not linked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Discord não está vinculado a esta conta.
                code: DISCORD_NOT_LINKED
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /expapi/v1/my-guilds:
    get:
      tags: [Discord]
      summary: List user's Discord guilds (with bot presence)
      description: |
        Returns the Discord guilds the user is a member of, enriched with:
        - `hasBot` — whether Lumina Bot is present in that guild
        - `canManage` — whether the user can manage the guild (owner OR has
          `ADMINISTRATOR` 0x8 OR `MANAGE_GUILD` 0x20)
        - `botConfig` — basic bot config snapshot (only when `hasBot` is true)

        Uses the stored Discord OAuth2 token (refreshes automatically). The
        token must have the `guilds` scope — otherwise `403 DISCORD_MISSING_GUILDS_SCOPE`.

        Results are sorted: with-bot first, then canManage, then alphabetical.
      operationId: getMyGuilds
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Guilds retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  guilds:
                    type: array
                    items:
                      $ref: '#/components/schemas/MyGuild'
        '400':
          description: Discord not linked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Conta Discord não vinculada. Conecte sua conta Discord para ver seus servidores.
                code: DISCORD_NOT_LINKED
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Token lacks `guilds` scope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Seu token Discord não tem permissão para listar servidores. Reconecte sua conta.
                code: DISCORD_MISSING_GUILDS_SCOPE
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /expapi/v1/discord/guild/{guildId}:
    get:
      tags: [Discord]
      summary: Get guild info from Discord
      description: |
        Returns full Discord guild info for the given `guildId`, fetched via
        the bot token (with `with_counts=true`).

        **Access control:**
        - User must have Discord linked
        - User must be a member of the guild (verified via `/users/@me/guilds`)
          — prevents IDOR

        Refreshes the user's Discord OAuth2 token automatically if expired.

        Accepts either the `lumina_token` cookie or the Bearer header.
      operationId: getDiscordGuildInfo
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - in: path
          name: guildId
          required: true
          schema:
            type: string
            pattern: '^\d{17,19}$'
      responses:
        '200':
          description: Guild info retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscordGuild'
        '400':
          description: Invalid guild ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Guild ID inválido.
                code: INVALID_GUILD_ID
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: |
            Discord not linked, token expired/refresh failed, missing `guilds`
            scope, or user is not a member of this guild.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                not_linked:
                  value:
                    error: Você precisa vincular sua conta Discord para acessar esta funcionalidade.
                    code: DISCORD_NOT_LINKED
                not_member:
                  value:
                    error: Você não é membro desta guilda.
                    code: NOT_GUILD_MEMBER
                token_expired:
                  value:
                    error: Sua conexão com o Discord expirou. Reconecte sua conta nas configurações.
                    code: DISCORD_TOKEN_EXPIRED
                missing_scope:
                  value:
                    error: Seu token Discord não tem permissão para listar servidores. Reconecte sua conta.
                    code: DISCORD_MISSING_GUILDS_SCOPE
        '404':
          description: Guild not found (or bot is not in it).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Guilda não encontrada ou o bot não está neste servidor.
                code: GUILD_NOT_FOUND
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          description: Discord API error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Erro ao verificar seus servidores no Discord.
                code: DISCORD_API_ERROR
        '503':
          description: Bot token missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing:
                  value:
                    error: O bot Discord ainda não foi configurado no painel administrativo.
                    code: BOT_TOKEN_MISSING
                invalid:
                  value:
                    error: O token do bot Discord configurado é inválido.
                    code: BOT_TOKEN_INVALID
        '504':
          description: Discord timeout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Tempo esgotado ao contatar o Discord. Tente novamente.
                code: DISCORD_TIMEOUT

  # ───────────────────────────────────────────────────────────────────────
  # ADMIN
  # ───────────────────────────────────────────────────────────────────────

  /expapi/v1/admin/metrics:
    get:
      tags: [Admin]
      summary: Get API metrics (admin+)
      description: |
        Returns aggregated route usage statistics (counts, status codes,
        average/p95 response times, error rates) and the most recent errors
        logged. Requires `accessType` level ≥ 7 (admin+).
      operationId: getMetrics
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Metrics snapshot.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metrics'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Insufficient permission (level < 7).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Permissão insuficiente.
                code: INSUFFICIENT_PERMISSION
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /expapi/v1/admin/users:
    get:
      tags: [Admin]
      summary: List users (support+)
      description: |
        Paginated list of accounts for administration. Requires
        `accessType` level ≥ 5 (support+).

        The shape of each returned account depends on the caller's level:
        - Level ≥ 5: base fields only
        - Level ≥ 6: adds `discordOauth2Id`, `discordLinked`
        - Level ≥ 7: adds notification preferences

        Pagination via `page` (default 1) and `limit` (1–100, default 50).
        Optional `search` (matches email/name) and `accessType` filter.
      operationId: listUsers
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
            default: 1
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - in: query
          name: search
          schema:
            type: string
        - in: query
          name: accessType
          schema:
            type: string
            enum: [user, vipUser, enterpriseUser, contentCreator, tester, support,
                   moderator, admin, headadmin, developer, coowner, owner]
      responses:
        '200':
          description: User list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUsers'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Insufficient permission (level < 5).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Permissão insuficiente.
                code: INSUFFICIENT_PERMISSION
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /expapi/v1/admin/users/{userId}:
    put:
      tags: [Admin]
      summary: Update a user (support+)
      description: |
        Updates fields on a target user. The set of writable fields depends on
        the caller's level **and** the target's level (callers cannot modify
        peers or superiors):

        - Level ≥ 5 (target < 5): `blocked`
        - Level ≥ 6 (target < adminLevel): `banned`, `emailNotifications`,
          `discordNotifications`, `botActivityAlerts`
        - Level ≥ 7 (target < adminLevel, targetLevel < adminLevel,
          requested `accessType` < adminLevel): `accessType`
        - Level ≥ 8 (target < adminLevel): `firstName`, `lastName`,
          `emailVerified`, `publicProfile`, `showOnlineStatus`, `language`,
          `timezone`

        CSRF-protected.
      operationId: updateUser
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: string
          description: Target user's `accountId` (UUID).
        - in: header
          name: X-CSRF-Token
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                blocked:
                  type: boolean
                banned:
                  type: boolean
                emailNotifications:
                  type: boolean
                discordNotifications:
                  type: boolean
                botActivityAlerts:
                  type: boolean
                accessType:
                  type: string
                  enum: [user, vipUser, enterpriseUser, contentCreator, tester, support,
                         moderator, admin, headadmin, developer, coowner, owner]
                firstName:
                  type: string
                lastName:
                  type: string
                emailVerified:
                  type: boolean
                publicProfile:
                  type: boolean
                showOnlineStatus:
                  type: boolean
                language:
                  type: string
                timezone:
                  type: string
            example:
              blocked: true
              banned: false
      responses:
        '200':
          description: User updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  updatedFields:
                    type: array
                    items:
                      type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Insufficient permission or no allowed fields for this caller/target.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                permission:
                  value:
                    error: Permissão insuficiente.
                    code: INSUFFICIENT_PERMISSION
                no_fields:
                  value:
                    error: Nenhum campo permitido para alteração.
                    code: NO_ALLOWED_FIELDS
        '404':
          description: Target user not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Usuário não encontrado.
                code: USER_NOT_FOUND
        '500':
          $ref: '#/components/responses/ServerError'

  /expapi/v1/admin/guilds:
    get:
      tags: [Admin]
      summary: List guilds (admin+)
      description: |
        Paginated list of guilds the bot manages. Requires `accessType`
        level ≥ 7 (admin+).

        Pagination via `page` (default 1) and `limit` (1–100, default 50).
        Optional `search` matches `guildReferenceName` (case-insensitive) or
        `guildId` substring.
      operationId: listGuilds
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
            default: 1
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - in: query
          name: search
          schema:
            type: string
      responses:
        '200':
          description: Guild list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedGuilds'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Insufficient permission (level < 7).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Permissão insuficiente.
                code: INSUFFICIENT_PERMISSION
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /expapi/v1/admin/guilds/{guildId}:
    put:
      tags: [Admin]
      summary: Update a guild's config (admin+)
      description: |
        Updates configuration fields on a managed guild. The set of writable
        fields depends on the caller's level:

        - Level ≥ 7: `djEnabled`, `memberWelcomeToggle`, `memberDmToggle`,
          `persistentMute`, `persistentWarns`, `autoWarnPunishment`,
          `canPunishStaff`
        - Level ≥ 8: `memberJoinChannelId`, `memberLeaveChannelId`,
          `moderationChannelId`, `botInfoChannelId`, `eventLogChannelId`,
          `djRoleId`, `muteRoleId`, `banRoleId`, `prefix`, `guildLocale`,
          `memberJoinMessage`, `memberLeaveMessage`, `memberJoinDmMessage`
        - Level ≥ 9: `blockedChannels`, `warnsToMute`, `warnsToTimeOut`,
          `warnsToKick`, `warnsToBan`, `warnDuration`, `gachaMaxRolls`,
          `gachaGameMode`

        CSRF-protected.
      operationId: updateGuild
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - in: path
          name: guildId
          required: true
          schema:
            type: string
            pattern: '^\d{17,19}$'
        - in: header
          name: X-CSRF-Token
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                djEnabled:
                  type: boolean
                memberWelcomeToggle:
                  type: boolean
                memberDmToggle:
                  type: boolean
                persistentMute:
                  type: boolean
                persistentWarns:
                  type: boolean
                autoWarnPunishment:
                  type: boolean
                canPunishStaff:
                  type: boolean
                memberJoinChannelId:
                  type: string
                memberLeaveChannelId:
                  type: string
                moderationChannelId:
                  type: string
                botInfoChannelId:
                  type: string
                eventLogChannelId:
                  type: string
                djRoleId:
                  type: string
                muteRoleId:
                  type: string
                banRoleId:
                  type: string
                prefix:
                  type: string
                guildLocale:
                  type: string
                memberJoinMessage:
                  type: string
                memberLeaveMessage:
                  type: string
                memberJoinDmMessage:
                  type: string
                blockedChannels:
                  type: array
                  items:
                    type: string
                warnsToMute:
                  type: integer
                warnsToTimeOut:
                  type: integer
                warnsToKick:
                  type: integer
                warnsToBan:
                  type: integer
                warnDuration:
                  type: integer
                gachaMaxRolls:
                  type: integer
                gachaGameMode:
                  type: string
            example:
              memberWelcomeToggle: true
              prefix: '!'
      responses:
        '200':
          description: Guild updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  updatedFields:
                    type: array
                    items:
                      type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Insufficient permission or no allowed fields.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                permission:
                  value:
                    error: Permissão insuficiente.
                    code: INSUFFICIENT_PERMISSION
                no_fields:
                  value:
                    error: Nenhum campo permitido para alteração.
                    code: NO_ALLOWED_FIELDS
        '404':
          description: Guild not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Guilda não encontrada.
                code: GUILD_NOT_FOUND
        '500':
          $ref: '#/components/responses/ServerError'

  /expapi/v1/admin/logs:
    get:
      tags: [Admin]
      summary: Query logs (admin+)
      description: |
        Queries the persisted log store with filters. Requires `accessType`
        level ≥ 7 (admin+). Supports filtering by:

        - `level` — `info` | `warn` | `error` | `debug`
        - `type` — logical category (`API`, `DB`, `COMMAND`, `OAUTH`, etc.)
        - `route` — exact route match (e.g. `POST /expapi/v1/login`)
        - `requestId` — UUIDv4
        - `startDate` / `endDate` — ISO 8601 timestamps
        - `limit` (1–100, default 50) and `page` (default 1)
      operationId: queryLogs
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: level
          schema:
            type: string
            enum: [info, warn, error, debug]
        - in: query
          name: type
          schema:
            type: string
        - in: query
          name: route
          schema:
            type: string
        - in: query
          name: requestId
          schema:
            type: string
        - in: query
          name: startDate
          schema:
            type: string
            format: date-time
        - in: query
          name: endDate
          schema:
            type: string
            format: date-time
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        '200':
          description: Log entries.
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: array
                    items:
                      $ref: '#/components/schemas/LogEntry'
                  pagination:
                    type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Insufficient permission (level < 7).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Permissão insuficiente.
                code: INSUFFICIENT_PERMISSION
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /expapi/v1/admin/news:
    post:
      tags: [Admin]
      summary: Create a news post (admin+)
      description: |
        Creates a new news post in the feed. Requires `accessType` level ≥ 7
        (admin+). The author name is derived from the authenticated admin's
        `firstName` + `lastName`.

        CSRF-protected.
      operationId: createNewsPost
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - in: header
          name: X-CSRF-Token
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, body]
              properties:
                title:
                  type: string
                body:
                  type: string
                  description: Full markdown body.
                excerpt:
                  type: string
                imageUrl:
                  type: string
                tag:
[...]
