# ===================================
# DISCORD CONFIGURATION
# ===================================
DISCORD_BOT_TOKEN=""
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
# ===================================
# API CONFIGURATION
# ===================================
API_BASE_URL=""
INTERNAL_API_KEY=""
LUMINA_API_KEY=''

# ===================================
# ENCRYPTION
# ===================================
ENCRYPTION_KEY=""

# ===================================
# RIOT GAMES API
# ===================================
RIOT_API_KEY=''
RIOT_BASE_URL='api.riotgames.com'
RIOT_MAX_REQUESTS=10
RIOT_MAX_MATCH_HISTORY=10
RIOT_DEFAULT_SERVER='br1'
RIOT_DEFAULT_REGION='americas'

# ===================================
# Rule34 API
# ===================================

RULE34_API_KEY=""
RULE34_USER_ID=""

# ===================================
# DATABASE
# ===================================
MONGODB_URI=""

# ===================================
# DASHBOARD CONFIGURATION
# ===================================
DASHBOARD_PORT=3000
DASHBOARD_HOST=http://localhost:3000
PORT=3000

# ===================================
# NETWORK
# ===================================
# Defina como true para obter IP público (opcional)
IP=false

# ===================================
# NODE CONFIGURATION
# ===================================
NODE_NO_WARNINGS=1
NODE_ENV=production